<?xml version="1.0" encoding="UTF-8"?>
<config>
    <profiles>
        <profile>
            <!-- Initial number of agents in State Susceptible -->
            <num.agents.S>9</num.agents.S>
            
            <!-- Initial number of agents in State Prophylactic -->
            <num.agents.P>0</num.agents.P>
            
            <!-- Initial number of agents in State Infectious -->
            <num.agents.I>1</num.agents.I>
            
            <!-- Initial number of agents in State Recovered -->
            <num.agents.R>0</num.agents.R>
            
            <!--  Payoffs -->
            <payoff.S value="float">1.00</payoff.S>
            <payoff.P value="runif">0.0,1.00</payoff.P>
            <payoff.I value="runif">0.00,1.00</payoff.I>
            <payoff.R value="runif">0.00,1.00</payoff.R>
            
            <!-- 1 - Prophylactic protection -->
            <rho value="runif">0.00,1.00</rho>
            
            <!-- Fear -->
            <kappa value="rnorm">1.00,1.0</kappa>
            
            <!-- Decision frequency -->
            <decision.frequency value="runif">0.00,0.1</decision.frequency>
            
            <!-- Planning Horizon -->
            <planning.horizon value="rgamma">5,15</planning.horizon>
        </profile>
    </profiles>
    
    <disease>
        <beta value="float">0.031</beta>
        <gamma value="float">0.015</gamma>
    </disease>
    
    <simulation>
        <!-- Simulation Methods -->
        <!-- 0 Microsimulation -->
        <!-- 1 Gillespie -->
        <!-- 2 Efficient Tau-Leap -->
        <!-- 3 Heterogeneous Microsimulation -->
        <method>3</method>
        
        <!-- Number of replications -->
        <replications>2</replications>
        
        <!-- Length of the simulation -->
        <time.steps>200</time.steps>
    </simulation>
    
    <output>
        <!-- Format -->
        <!-- 0 Standard -->
        <!-- 1 Galapagos -->
        <output.format>0</output.format>
        
        <!-- Summary window -->
        <output.window>1</output.window>
        
        <!-- Output path -->
        <output.path>/home/gnardin</output.path>
        
        <!-- Output filename -->
        <output.filename>output</output.filename>
        
        <!-- Output header -->
        <output.header>True</output.header>
        
        <!-- Output field separator -->
        <output.separator>;</output.separator>
    </output>
</config>
